/* when the screen is less than 600px wide display the first only link and the menu bar */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
    color: black;
  }
  /*changes content of h2 header in about page depending on the screen size*/
  #bioAboutHeader::before {
    content: "Passion for technology";
  }
}

@media screen and (min-width: 601px) {
  #bioAboutHeader::before {
    content: "Full time mother of three children. Passion for Technology. Pursing a career in Software Development";
  }
}

/* when the screen is less than 600px wide the top nav displays vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    width: 5%;
    text-align: left;
  }
}

nav .navbar-brand {
  font-size: 25px;
}

nav a {
  color: white;
}

nav a:hover {
  color: #007000;
}

a {
  color: #007000;
}

a:hover {
  color: #007000;
}

h1 {
  color: white;
  font-family: var(--font-main);
  font-size: 300%;
  padding-top: 25px;
  text-align: center;
}

h2 {
  color: white;
  font-family: var(--font-main);
  font-size: 180%;
  padding-top: 15px;
  padding-bottom: 25px;
  text-align: center;
}

h3 {
  color: black;
  font-family: var(--font-main);
  font-size: 180%;
  padding-top: 80px;
  padding-bottom: 55px;
  text-align: center;
}

#whiteTextTitle {
  color: white;
}

p {
  font-family: var(--font-main);
  text-align: center;
}

p ::before {
  content: "\21d2";
}

.whiteText {
  color: white;
}

.btn-whiteText, .btn-blackText, .btn-whiteText:hover, .btn-blackText:hover, .btn-sm:hover {
  background-color: transparent;
  border-color: #007000;
  font-size: 24px;
  margin-top: 25px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-whiteText {
  color: white;
}

.btn-blackText {
  color: black;
}

.btn-sm {
  font-size: 15px;
  color: black;
}

.btn-whiteText:hover, .btn-blackText:hover, .btn-sm:hover {
  color: #007000;
}

.btn-sm:hover {
  font-size: 15px;
}

.page-footer {
  background-color: black;
  color: white;
}

.page-footer li > a {
  color: white;
}

.aboutContainer {
  background-image: url("snowboard.jpg");
  height: 500px;
  background-size: cover;
}

.techList {
  line-height: 240%;
}

.greyContainer {
  background-color: #e7e7e7;
}

.homepageHeader {
  background-image: url("personal_picture1.jpg");
  height: 450px;
  background-size: contain;
}

.portfolioHeader {
  background-image: url("portfolio2.jpg");
  background-size: cover;
  background-position: center;
  height: 570px;
}

.aboutHeader {
  background-image: url("baby1.jpg");
  background-size: contain;
  height: 520px;
  background-position: center;
}

.cvHeader {
  background-image: url("katecomp.jpg");
  background-size: contain;
}

.contactHeader {
  background-image: url("laptop2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 520px;
  background-position: center;
}

.table-bordered tbody tr td {
  text-align: left;
  border-color: #007000;
}

.baby img {
  width: 80%;
  height: 80%;
}

.photo img {
  width: 50%;
  height: 50%;
}

.laptop img {
  width: 50%;
  height: 5%;
}
/*# sourceMappingURL=style.css.map */